.title {
  color: rgb(63, 49, 36);
  margin: 0px 300px 0px 400px;
  font-size: 150px;
}
.text {
  color: rgb(63, 49, 36);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.th {
  padding: 0px 0px;
}
.tr {
  padding: 0px;
}

.b {
  font-size: 30px;
}
body {
  background-color: rgb(94, 96, 84);
  background-size: 1250px 1250px;
}
